<h1>About The NesT</h1>
  <br>
<div class="center hero-unit">
<h2>Development Studios</h2>
<p>
	The NesT Development Studios is a full service artist development company, supplying promising artists with the resources they need to take their careers as serious musicians to the next level.  With decades of time spent working in the business, The NesT team has gathered invaluable experience and a boutique collection of industry colleagues, all of which can be used to help artists navigate the unfamiliar territory of an industry that is constantly being refashioned.
  <br><br>
	Do in large part to technology; the music industry of today is continually changing and more competitive than ever before.  While technology has yielded an abundance of new tools for new artists to work on their craft and market themselves to a global audience, it has also made it incredibly difficult for true talent to rise above the white noise of today’s artist pool and internet sensations.  Without clear direction and an adequate amount of mentorship, it is all too easy to find yourself lost in the crowd without a voice to be heard.
  <br><br>
	Founded with the mission of fostering true talent, The NesT Development Studios aims to provide a flight plan for emerging artists to take their career to new heights while guiding them along the way. The process begins with an initial consultation meant to assess the artist’s current level of experience and determine the best course of action for that individual.  From there, the team at The NesT will put together a custom “flight plan” meant to both nurture the artist’s talent and push them to reach their full potential.
</p>
  <br><br>
<p>
    <a href="http://thenestds.com/">Visit our other site!</a>
</p>
  <br><br>
<p>
    <a href="http://omrails.com/">One Month Rails</a>
    is a project to teach 
    <a href="http://rubyonrails.org/">Ruby on Rails</a> 
    in one month. This is the sample application.
</div>
</p>