<% if user_signed_in? %>
	<h1>You are signed in!</h1>
	<br>
	<h3>Welcome to your home page.  Please take a minute to explore our great content!
	<div class="center hero-unit">

		<iframe width="853" height="480" src="http://www.youtube.com/embed/HV4Dzx-oejY?rel=0" frameborder="0" allowfullscreen></iframe>

	</div>

<% else %>

<div class="center hero-unit">
    <h1>Welcome to One Month Rails</h1>

    <h2>
      You've found the home page for the
      <a href="http://omrails.com/">One Month Rails</a>
      first application.
    </h2>

	<h3>
	  Welcome to The NesT Development Studios, the next step in taking your music career to the next level!
	</h3>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>

<div class="center hero-unit">

	<iframe width="853" height="480" src="http://www.youtube.com/embed/HV4Dzx-oejY?rel=0" frameborder="0" allowfullscreen></iframe>

</div>


<% end %>
